.post {
  width: 100%;
  height: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0.85em;

  &__card {
    background-color: white;
    padding: 4%;
    margin: 0 0 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(#000, 0.2);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      box-shadow: 0 2px 4px rgba(#000, 0.2), 0 4px 8px rgba(#000, 0.2);
    }
  }

  &__category {
    text-align: right;
    color: #d3d3d3;
  }

  &__when-and-where-label {
    display: flex;
  }
}
